:root {
  --blue: #3a38ff;
  --navy: #0d0d34;
  --pastel-purple: #e5e4ff;
  --pink: #d861d3;
  --army: #316762;
  --yellow: #ffb444;
  --red: #d86161;
  --purple: #6261d8;
  --soft-grey: #f9fbfc;
  --grey: #8c9295;
  --darkgrey2: #e7ebed;
  --white: #ffffff;
  --black: #000000;
  --fwlight: 300;
  --fwregular: 400;
  --fwmedium: 500;
  --fwsemibold: 600;
  --fwbold: 700;
  --fwextrabold: 800;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--soft-grey);
}

h1 {
  color: var(--blue);
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.ml-100 {
  margin-left: 100px;
}

.mb-0 {
  margin-bottom: 0px;
}

.navbar-brand {
  font-weight: var(--fwbold);
  color: var(--navy);
  font-size: 28px;
  margin: 0;
}

.btn-primary {
  margin-left: 10px;
  padding: 12px 20px 12px 20px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 50px;
  font-size: 16px;
  font-weight: var(--fwsemibold);
  border: 0;
}

.btn-primary:hover {
  background: var(--navy) !important;
  color: var(--white);
}

.btn-secondary {
  margin-left: 10px;
  padding: 12px 20px 12px 20px;
  background: var(--grey);
  color: var(--navy);
  border-radius: 50px;
  font-size: 16px;
  font-weight: var(--fwsemibold);
  border: 0;
}

.third-header .btn-secondary {
  padding: 12px 20px 12px 20px;
  background: var(--grey);
  color: var(--navy);
  border-radius: 50px;
  font-size: 16px;
  font-weight: var(--fwsemibold);
  border: 0;
}

.btn-secondary:hover {
  background: var(--grey);
  color: var(--white) !important ;
}

.navbar-nav .nav-item a {
  color: var(--navy);
  transition: color 0.3s ease;
}

.navbar-nav .nav-item {
  padding: 0 20px 0 20px;
  font-weight: var(--fwregular);
}

.navbar-nav .nav-item a:hover {
  color: var(--blue);
  transition: color 0.3s ease;
  font-weight: var(--fwsemibold);
}

.cashier-navbar {
  background-color: var(--white);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0;
  margin-bottom: 70px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
}

.navbar {
  --bs-navbar-padding-y: 0px;
}

.header h1 {
  color: var(--black);
  padding: 5px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: var(--fwextrabold);
<<<<<<< HEAD
=======
}

.secondary-header h2 {
  margin-bottom: 10px;
  margin-top: 70px;
  text-align: center;
  color: var(--navy);
  padding: 5px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: var(--fwbold);
}

.third-header h3 {
  margin-bottom: 10px;
  margin-top: 70px;
  text-align: left;
  color: var(--navy);
  padding: 5px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: var(--fwbold);
}

.third-header h4 {
  margin-bottom: 10px;
  margin-top: 70px;
  text-align: left;
  color: var(--navy);
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: var(--fwbold);
>>>>>>> 5bccec928ffa3223715de006b3db3d175cf3282f
}

.secondary-header h2 {
  margin-bottom: 10px;
  margin-top: 70px;
  text-align: center;
  color: var(--navy);
  padding: 5px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: var(--fwbold);
}

.third-header h3 {
  margin-bottom: 10px;
  margin-top: 70px;
  text-align: left;
  color: var(--navy);
  padding: 5px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: var(--fwbold);
}

.third-header h4 {
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 50px;
  text-align: left;
  color: var(--navy);
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: var(--fwbold);
}
.final-header h5 {
  margin-bottom: 10px;
  margin-top: 70px;
  text-align: center;
  color: var(--navy);
  padding: 5px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: var(--fwbold);
}
.header p {
  color: var(--grey);
  padding: 5px 15px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: var(--fwregular);
}

.secondary-header p {
  margin-bottom: 30px;
  text-align: center;
  color: var(--grey);
  padding-top: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: var(--fwregular);
}

.third-header p {
  margin-bottom: 30px;
  margin-left: 10px;
  text-align: left;
  color: var(--grey);
  padding-top: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: var(--fwregular);
}

.third-header a {
  text-align: right;
}

<<<<<<< HEAD
.final-header p {
  margin-bottom: 30px;
  text-align: center;
  color: var(--grey);
  padding-top: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: var(--fwregular);
}

=======
>>>>>>> 5bccec928ffa3223715de006b3db3d175cf3282f
.header .badge p {
  background-color: var(--pastel-purple);
  color: var(--black);
  padding: 10px 10px;
  border-radius: 50px;
  font-size: 13px;
  font-weight: var(--fwsemibold);
  margin: 0;
  line-height: 1.4;
}

.header .badge img {
  width: 16px;
  height: 16px;
}

.header .badge {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 20px;
}

.card-brand {
  width: 227px;
  height: 110px;
  border-radius: 16px;
  background: var(--darkgrey2);
}

.card-brand .logo {
  width: 146px;
  height: 50px;
  margin: 30px 41px 30px 40px;
}

.carousel-wrapper {
  display: flex;
  height: 110px;
  animation: moveSlidesToLeft 10s linear infinite;
}

.carousel {
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  height: 110px;
  overflow: hidden;
}

.carousel .card-brand {
  margin-right: 30px;
}

.carousel-left .card-brand {
  margin-right: 30px;
}

.carousel-wrapper-left {
  display: flex;
  height: 110px;
  animation: moveSlidesToRight 10s linear infinite;
}

.carousel-left {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  height: 110px;
  overflow: hidden;
}

<<<<<<< HEAD
.text-button {
  text-decoration: none;
  color: blue;
  padding-left: 0px;
  padding-top: 00px;
}

.third-header .features-wrapper .big-feature-card {
  padding: 20px;
  border-radius: 16px;
  background: var(--white);
  padding-bottom: 60px;
  cursor: pointer;
}

.third-header .features-wrapper .small-feature-card {
  padding: 20px;
  border-radius: 16px;
  background: var(--white);
  padding-bottom: 60px;
  cursor: pointer;
}

.features-wrapper:hover .small-feature-card:not(:hover) {
  filter: blur(4px);
  transition: all 0.3 ease;
}

.features-wrapper:hover .big-feature-card:not(:hover) {
  filter: blur(4px);
  transition: all 0.3 ease;
}

.third-header .features-wrapper .icon {
  float: left;
  width: 60px;
  height: 200px;
  margin-right: 18px;
}
.final-header img {
  float: left;
  width: 428x;
  height: 446px;
  margin-left: 192px;
}
.third-header .features-wrapper .icon img {
  width: 60px;
  height: 60px;
=======
.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.third-header .features-wrapper .big-featue-card h3 {
  margin-bottom: 10px;
  text-align: left;
  color: var(--navy);
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: var(--fwbold);
>>>>>>> 5bccec928ffa3223715de006b3db3d175cf3282f
}
@keyframes moveSlidesToLeft {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes moveSlidesToRight {
  0% {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
<<<<<<< HEAD

.form-control {
  border-radius: 50px;
  padding: 12px 20px 12px 20px;
  margin-bottom: 16px;
  border: var(--white);
  border: 0;
}

.form-select {
  border-radius: 50px;
  padding: 12px 20px 12px 20px;
  margin-bottom: 16px;
  border: var(--white);
  border: 0;
  background-image: url("../images/ic_ad.svg");
  background-repeat: no-repeat;
  background-position: right 24px center;
}

.text-area .form-control {
  border-radius: 16px;
}
=======
>>>>>>> 5bccec928ffa3223715de006b3db3d175cf3282f
